<nav class="navbar">
     <div class="nav-logo">Port Russell</div>

     <div class="nav-links">
        <a href="/dashboard">Dashboard</a>
        <a href="/catways-page">Catways</a>
        <a href="/catways/1/reservations">Reservations</a>
        <a href="/logout" class="logout">Déconnexion</a>
     </div>
</nav>