<nav class="navbar">
     <div class="nav-logo">Port Russell</div>

     <div class="nav-links">
        <a href="/dashboard">Tableau de bord</a>
        <a href="/catways-page">Catways</a>
        <a href="/reservations">Réservations</a>
        <a href="/users/list">Utilisateurs</a>
        <a href="/logout" class="logout">Déconnexion</a>
     </div>
</nav>