<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Port de plaisance Russell</title>
    <link rel="stylesheet" href="/css/style.css">   
</head>
<body>
    <%- include('partials/navbar') %>
    <main class="container">
        <section class="card">
            <h1>Tableau de bord</h1>
            <p>Bienvenue <strong><%= user.username %></strong></p>
            <p>Email: <%= user.email %></p>
            <p>Date du jour: <%= today %></p>

            <div class="links">
                <a href="/catways-page">Gérer les catways</a>
                <a href="/catways/1/reservations">Voir les réservations</a>
                <a href="/logout">Se déconnecter</a>
            </div>
      </section>
    </main>
    
</body>
</html>